'.platform-darwin atom-text-editor':
  'cmd-alt-o cmd-alt-p': 'open-recent:show'

'.platform-win32 atom-text-editor':
  'cmd-alt-o cmd-alt-p': 'open-recent:show'

'.platform-linux atom-text-editor':
  'cmd-alt-o cmd-alt-p': 'open-recent:show'
